*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(229, 178, 178);
}
#main{
    margin: 40px 40px;
    height: 90%;
    width: 90%;
    background-color: hsl(346deg 17% 70%);
    display: flex;
  

}
#part1{
    height: 100%;
    width: 26%;
    background-color: none;
}
#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(0, 255, 42);
    background-image: url("IMG_20230412_165040.jpg");
    background-size: cover;
    background-position:  top;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(193, 128, 146, 0.487);
}
#overlay1{
    width: 100%;
    height: 100%;
    background-color: rgba(113, 59, 95, 0.2);
}
#part3{
    height: 100%;
    width:7%;
    background-color: none;
}
#text{
    height: 400px;
    position: absolute;
    width: 400px;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
}
#text > h1{
    font-size: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
}
.line{
    display: flex;
}
.line >h3{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    letter-spacing: 11px;
    color: white;
    margin-left: 10px;
}
.line >h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 8px;
    font-weight: 800;
    color: rgb(23, 13, 13);
    background-color: rgba(248, 243, 243, 0.021);
    font-size: 19px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    margin: 7px;
}
#small{
    height: 400px;
    width: 300px;
    background-image: url("IMG_20230412_165040.jpg");
    background-size: cover;
    background-position:  center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    border-radius: 5px;
    
}
#vtext{
    position: absolute;
    transform: rotate(90deg);
    right: -38.3%;
    top: 9%;
    transform-origin: 0% 0%;
    max-width: 42vw;
  
}
#vtext h1{
    font-size: 80px;
    font-weight: 1200;
    text-transform: uppercase;
    color: transparent;
    font-family:monospace;
    letter-spacing: 20px;
    z-index: 1px;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #fff;
}
#nav{
    position: absolute;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    left:6%;
    top: 7%;
    max-width: 33vw;
}
#nav img{
    height: 50px;
}
#nav h5{
    font-size: 20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (min-width: 600px){
    #text{
        font-size: 3vw;
    }
}

@media (max-width: 650px){
    #vtext h1{
        text-align: end;
        -webkit-transform: rotate(270deg);
        margin-left: -70%;
        margin-top: 60%;
       
        font-size: 400%;
    }

}
